.cover{
  background-size: cover;
}

.center{
  background-position: center center;
}

.with_overlay{
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
